<!DOCTYPE html>
<html class="js cssanimations csstransitions">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->
   <!--link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /-->
  <!--link rel="stylesheet" href="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /--> 

  <!--script src="http://code.jquery.com/jquery-1.11.0.min.js"></script-->
  

  <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet" /> 
  <link href="/static/stylesheets/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/line-icons/line-icons.css">  
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
   {% block head %}
   {% endblock %}
  
  
  
  

  
  
  
  <link href="/static/stylesheets/blue.css" rel="stylesheet" id="style_color"/>
  
  
  
  

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55965884-1', 'auto');
  ga('send', 'pageview');

</script>


<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("15b097f27f9de5c7cfbe2759ebbc50f5");</script><!-- end Mixpanel -->
  
  
</head>
<body onload="$('#{{active}}').addClass('active');">
  <div class="header">
<div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/" style="top:10px;color:#3498db;font-size:20px;"><b>REMINDICA</b></a>
      </div>
        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li id="front" ><a href="/">Home</a></li>
           {% if current_user.email %}
            <li id="task_list"><a href="/task_list">Tasks</a></li>

            <li id="archive_task_list"><a href="/task_list?archive=true">Archives</a></li>
           
            
            <li id="new_task"><a href="/new_task">New</a></li>
            <li id="browser_phone"><a href="/browser_phone">Call Now</a></li>
            {% endif %}
            <li id="faq"><a href="/faq">FAQ</a></li>
             {% if not current_user.email %}
                
                <li id='signup'><a href="/signup">SignUp</a></li>
                <li id='login'><a href="/login">Login</a></li>
                
                {% else %}
                <li><a href="/logout">Logout</a></li>

                <li id="profile"><a href="/profile"> Hi,
                {{current_user.name}}</a>
                </li>
                
                
                
                {% endif %}

          </ul>
            
          <ul class="nav navbar-nav navbar-right">
              
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    
  </div><!-- /navbar -->
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!--script src="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script-->
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="/static/javascript/bootstrap.min.js"></script>
  {% block script_top %}
  {% endblock %}
  
  {% block content %}
  {% endblock %}
  
  <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline"><h2>About</h2></div>  
                    <p class="margin-bottom-25 md-margin-bottom-40"> We are a technology company based in India. We create software on the cutting edge of technology in the fields of telecommunications, machine learning, cloud infrastructure, mobile and analytics</p>    
                    <!-- End About -->
                  </div>
                  <div class="col-md-6 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline"><h2>Contact Us</h2></div>  
                    <p class="margin-bottom-25 md-margin-bottom-40">We can be reached at +91-9830906922 and support@remindica.com</p>    
                    <!-- End About -->
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2014 &copy; Remindica - ALL Rights Reserved.
                        
                    </p>
                </div>
                
            </div>
        </div> 
    </div><!--/copyright--> 

</body>



  {% block script %}
  {% endblock %}
  
  <script type="text/javascript" src="/static/javascript/app.js"></script>
  <script type="text/javascript" src="/static/javascript/index.js"></script>
  
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  <script>
$("body").on("touchdown.dropdown",".dropdown-menu",function(e) { e.stopPropagation();});
</script>
</html>

