<html>
<head>
  <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body onload="$('#{{active}}').addClass('active');">
  <div class="container">

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Reminder Service</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li id="front" ><a href="/">Home</a></li>
            {% if not current_user.email %}
            <li id="new_user_task"><a href="/new_user_task">Tasks</a></li>
            
            {% else %}
            <li id="task_list"><a href="/task_list">Tasks</a></li>
            {% endif %}
            
          </ul>
            
          <ul class="nav pull-right">
               {% if not current_user.email %}
                
                <li id='signup' class="pull-right"><a href="/signup">SignUp</a></li>
                <li id='login' class="pull-right"><a href="/login">Login</a></li>
                
                {% else %}
                <li class="pull-right"><a href="#"> Hi,
                {{current_user.name}}</a>
                </li>
                <li class="pull-right"><a href="/logout">Logout</a></li>
                
                
                {% endif %}
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
</div>
  {% block content %}
  {% endblock %}
</body>
</html>

