{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" href="/static/stylesheets/faq.css">
{% endblock %}

{% block content %}




    <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
        <div class="breadcrumbs-v2-in">
            <h1>Frequently Asked Questions</h1>
            <ul class="breadcrumb-v2 list-inline">
                <li>
            </ul>
        </div>    
    </div>

<!--=== FAQ Page ===-->
    <div class="container content faq-page">
        <!-- FAQ Blocks -->
        <div class="row margin-bottom-40">
            <div class="col-sm-4">
                <div class="easy-block-v3 service-or">
                    <div class="service-bg"></div>
                    <i class="icon-badge"></i>
                    <div class="inner-faq-b">
                        <h3>What does it do ?</h3>    
                        <p>Remindica is a personal assistance software. It can send email, or send an sms or call a number and speak for you</p>
                    </div>    
                </div>
            </div>    
            <div class="col-sm-4">
                <div class="easy-block-v3 service-or">
                    <div class="service-bg"></div>
                    <i class="icon-directions"></i>
                    <div class="inner-faq-b">
                        <h3>How can I get started ?</h3>    
                        <p>You can get started in less than 5 minutes by signing up on <a href="/signup" style="color:white;text-decoration:underline;">this</a> link.</p>
                    </div>    
                </div>
            </div>    
            <div class="col-sm-4">
                <div class="easy-block-v3 service-or">
                    <div class="service-bg"></div>
                    <i class="icon-layers"></i>
                    <div class="inner-faq-b">
                        <h3>How is it useful ?</h3>    
                        <p>It helps you save time spent on email, sms and phone. Our clients save more than 85 hours every month using our services.</p>
                    </div>    
                </div>
            </div>    
        </div>
        <!-- End FAQ Blocks -->

<div class="container content">     
        <div class="row">            
            <div class="col-md-9">
                <!-- General Questions -->
                <div class="headline"><h2>General Questions</h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    1. How does it work ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                You simply need to instruct the system what to do (email/sms/phone), when to do and how frequently to do it (once/daily/weekly/monthly). The service then makes sure that your task is done.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    2. How do I know if the task was done successfully ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>As soon as the task is done, the system gathers the status information and makes it available on the task details page. This status information is generally available within 5 minutes after the task is performed.</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    3. How much does it cost ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                            We have plans for all kinds of requirements. Call 9830906922 for details. Some popular plans given below:-
                                    <li><i class="fa fa-check color-green"></i>Annual subscription of Rs.10000</li>
                                    <li><i class="fa fa-check color-green"></i>Half-yearly subscription of Rs.6000</li>
                                    <li><i class="fa fa-check color-green"></i>Monthly subscription of Rs.2000</li>
                                    <li><i class="fa fa-check color-green"></i>Unlimited calls, sms, emails for above 3 plans subject to fair usage.</li>
                                </ul>                            
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    4. Is it cost effective ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our clients regularly save more than 85 hours every month through the use of our service. This in itself justifies the cost of the service. Please get in touch with us at support@remindica.com or +91-9830906922 if you have any concerns.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    5. Does it work on my mobile phone ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The service can be accessed from any modern mobile phone including Android, iPhone, Blackberry, Windows Phone. It works on major mobile browsers like Chrome, Safari, Opera and Internet Explorer.</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    6. How is it different from Google Calendar ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Google Calendar is good for reminding yourself about important stuff. But it cannot email someone on your behalf nor can it send an SMS or speak for you.
                            </div>
                        </div>
                    </div>

                    
                </div><!--/acc-v1-->
                <!-- End General Questions -->
            </div>
            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><i class="fa fa-home"></i>India</li>
                    <li><i class="fa fa-envelope-o"></i>support@remindica.com</li>
                    <li><i class="fa fa-phone"></i>+91-9830906922</li>
                    <li><i class="fa fa-globe"></i>https://www.remindica.com</li>
                </ul>

        </div>
    </div>
</div>
</div>



  
      

{% endblock %}


