{% extends "base.html" %}

{% block content %}

    <div class="slider-inner">
      <div id="da-slider" class="da-slider" style="background-position: 0% 0%;">
        <div class="da-slide">
          <h2><i> PERSONAL ASSISTANT</i><br><i>IN THE CLOUD </i></h2>
          <p> <i>What does it do ?</i><br>
            <i>Sends email, sends SMS</i><br>
            <i>Calls a number and speaks for you</i></p>


        </div>
        <div class="da-slide">
          <h2><i> EMAIL</i><br>
          <i> SMS</i><br>
          <i> VOICE CALL</i></h2>
          <p> <i>Set tasks across </i><br>
            <i>different channels</i><br>
            <i>for remindica</i></p>


        </div>
        <div class="da-slide">
          <h2><i> TRANSPARENT</i><br>
          <i> AFFORDABLE</i>
          </h2>
          <p> <i>Empowering businesses</i><br>
            <i>with cost effective</i><br>
            <i>technology and prices</i></p>


        </div>
        <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>    
            </div>

      </div>
    </div>
  <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Remindica is your personal virtual assistant.</span>
                    <p>Use state of the art technology to increase productivity.
                      Automate and delegate repetitive but important tasks to us. Save time spent on phone and email. Remindica can send an email, send an SMS, or call a number and speak for you.</p>
                </div>            
                 <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="/faq" class="btn-u btn-u-lg"><i class="fa fa-gears"></i>Learn More</a>
                </div>

                
            </div>
        </div>
    </div><!--/row-->

<div class="container content"> 
      <!-- Service Blocks -->
      <div class="row margin-bottom-30">
          <div class="col-md-4">
            <div class="service">
                    <i class="fa fa-phone service-icon"></i>
              <div class="desc">
                <h4>EMAIL SMS VOICE</h4>
                        <p>Remindica can email, sms and call a number for you.</p>
              </div>
            </div>  
          </div>
          <div class="col-md-4">
            <div class="service">
                    <i class="fa fa-cogs service-icon"></i>
              <div class="desc">
                <h4>CONFIGURABLE</h4>
                        <p>Set tasks to be performed once, daily, weekly or monthly.</p>
              </div>
            </div>  
          </div>
          <div class="col-md-4">
            <div class="service">
                    <i class="fa fa-dollar service-icon"></i>
              <div class="desc">
                <h4>ECONOMICAL</h4>
                        <p>Cost-effective automation solution. Empower your business with state of the art technology.</p>
              </div>
            </div>  
          </div>          
      </div>

      <div class="row margin-bottom-30">
          <!-- Welcome Block -->
        <div class="col-md-8 md-margin-bottom-40">
          <div class="headline"><h2>What does it do ?</h2></div>
                <div class="row">
                    
                    <div class="col-sm-8">
                        <p>Remindica is an incredibly simple to use cloud based personal assistance software. </p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> It can send an email for you</li>
                            <li><i class="fa fa-check color-green"></i> It can send an SMS for you</li>
                            <li><i class="fa fa-check color-green"></i> It can call a number and speak for you</li>
                            <li><i class="fa fa-check color-green"></i> It can do all of the above at your scheduled time</li>
                            <li><i class="fa fa-check color-green"></i> Set one-time, daily,weekly and monthly tasks</li>
                            <li><i class="fa fa-check color-green"></i> Unlike Google Calendar, this can remind others on your behalf.</li>
                        </ul>                    
                    </div>
                </div>

                <blockquote class="hero-unify">
                    <p>I dont have to remember to pay bills anymore since Remindica sends me timely reminders.</p>
                    <small>Akshay Gupta - Retail Store Owner</small>
                </blockquote>
            </div><!--/col-md-8-->        
         <div class="col-md-4 md-margin-bottom-40">
          <div class="headline"><h2>Praise</h2></div>
                

                <blockquote class="hero-unify">
                    <p>I use it to remind clients to pay bills on time. Its very simple and effective</p>
                    <small>Pulak Murarka - Chemical Manufacturer</small>
                </blockquote>
                <blockquote class="hero-unify">
                    <p>I send my clients timely appointment reminders - its just magical</p>
                    <small>Mudit Jhunjhunwala - Chartered Accountant</small>
                </blockquote>
            </div><!--/col-md-8-->   
          </div>


</div>



  
      
<script>
$('#form').submit(function(){
      var username=$('#username').val();
      var email=$('#email').val()
      var password=$('#password').val();
      var confirm_password=$('#confirm_password').val();
      if(email==null || email.trim()=="" || password==null || password.trim()=="" || username==null || username.trim()=="")
      {
        alert("Email, password and name cannot be empty");
        return false;

      }
      if(password!=confirm_password)
      {
        alert("Passwords do not match");
        return false;
      }
      if(password.length<5)
      {
        alert("Password should be atleast 5 characters");
        return false;
      }


    });
$('#login').submit(function(){
      var name=$('#name').val();
  var password=$('#login_password').val();
  if(name==null || name.trim()=="" || password==null || password.trim()=="")
  {
    alert("Email/Username/Password cannot be empty");
    return false;
  }
    });
  


</script>
{% endblock %}