{% extends "base.html" %}

{% block content %}
<body>
	<div class="container">
		<div class="row">
			

			<div class="span9">
				<div>
					{{error}}
				</div>
				<form class="form-horizontal well" method="post" id="form">
			        <fieldset>
			          <legend>Add New Task</legend>
			          <div class="control-group">
			            <label class="control-label" for="input01">Message</label>
			            <div class="controls">
			              <input type="text" class="input-xlarge" id="message" name="message">
			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			            </div>
			          </div>
			          
			          <div class="control-group info">
			            <label class="control-label">Type</label>
			            <div class="controls">
			              <select id="type" name="type">
			                <option>One-Time</option>
			                
			              </select>
			              
			            </div>
          			   </div>
          			   <div class="control-group">
			            <label class="control-label" for="input01">Date</label>
			            <div class="controls">
			              <input type="text" class="input-xlarge" id="datepicker" name="datepicker">
			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			            </div>
			          </div>
			           <div class="control-group">
			            <label class="control-label" for="input01">Time</label>
			            <div class="controls">
			              <input type="time" id="time" name="time" value="09:00:AM">
			              
			            </div>
			          </div>
			          <!--<div class="control-group info">
			            <label class="control-label" for="selectError">Time</label>
			            <div class="controls">
			              <select id="time" name="time">
			                <option>9:00:AM</option>
			                <option>9:30:AM</option>
			                <option>10:00:AM</option>
			                <option>10:30:AM</option>
			                <option>11:00:AM</option>
			                <option>11:30:AM</option>
			                <option>12:00:PM</option>
			                <option>12:30:PM</option>
			                <option>1:00:PM</option>
			                <option>1:30:PM</option>
			                <option>2:00:PM</option>
			                <option>2:30:PM</option>
			                <option>3:00:PM</option>
			                <option>3:30:PM</option>
			                <option>4:00:PM</option>
			                <option>4:30:PM</option>
			                <option>5:00:PM</option>
			                <option>5:30:PM</option>
			                <option>6:00:PM</option>
			                <option>6:30:PM</option>
			                <option>7:00:PM</option>
			                <option>7:30:PM</option>
			                <option>8:00:PM</option>
			                <option>8:30:PM</option>
			                <option>9:00:PM</option>

			                
			              </select>
			              
			            </div>
          			   </div>-->
          			   <div class="control-group info">
			            <label class="control-label" for="selectError">Method</label>
			            <div class="controls">
			              <select id="method" name="method">
			                <option>Email</option>
							<option>SMS</option>			                
			              </select>
			              
			            </div>
          			   </div>
          			   <div class="control-group info">
			            <label class="control-label" for="selectError">Timezone</label>
			            <div class="controls">
			              <select id="timezone" name="timezone">
			                <option>IST</option>
							<option>GMT</option>			                
			              </select>
			              
			            </div>
          			   </div>

          			   <div class="control-group">
			            <label class="control-label" for="input01">Recipients</label>
			            <div class="controls">
			              <input type="text" class="input-xlarge" id="details" name="details">
			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			            </div>
			          </div>

			          <div class="form-actions">
			          	<button type="submit" class="btn btn-primary">Submit</button>
			          </div>

			      </fieldset>
			  </form>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<td>
								State
							</td>
							<td>
								Message
							</td>
							<td>
								Time
							</td>
							<td>
								Method
							</td>
							<td>
								Delete
							</td>
						</tr>
					</thead>
					{% for task in tasks %}
					<tr style="font-size:14px;">
						<td>
							{{task['state']}}
						</td>
						<td>
							{{task['message']}}
						</td>
						<td>
							{{task['time']}}
						</td>
						<td>
							{{task['method']}}
						</td>
						<td>
							<a href="/delete_task?id={{task['_id']}}">Delete task</a>
						</td>
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
</body>
<script>

$('#form').submit(function(){

var message=$('#message').val();
var date=$('#datepicker').val();
var recipients=$('#details').val();
var time=$('#time').val();

if(message==null || message.trim()=="" || date==null || date.trim()=="" || recipients==null || recipients=="" || time==null || time.trim()=="")
{
	alert('Message, Date and Receipients cannot be empty');
	return false;
}


});
$('#datepicker').datepicker({minDate:new Date()});
</script>
{% endblock %}
