{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheets/faq.css">
<link rel="stylesheet" href="/static/stylesheets/sky-forms.css">
<link rel="stylesheet" href="/static/stylesheets/sky-forms-blue.css">
<link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css">
<link href="/static/stylesheets/jquery-te-1.4.0.css" rel="stylesheet" />
<link href="/static/stylesheets/tablesaw.stackonly.css" rel="stylesheet" />

{% endblock %}

{% block script_top %}
<script src="/static/javascript/jquery-te-1.4.0.min.js"></script>
<script src="/static/javascript/tablesaw.stackonly.js"></script>
{% endblock %}

{% block content %}


	<div class="container">

		
		
		<div class="row">
			<br>
			<div class="col-lg-9 col-md-9 col-sm-12">
				{% if error|length > 0%}
				<div class="row">
  					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      				<br>
          			<div class="alert alert-danger fade in">{{error}}</div>
        			</div>
      			</div>
      			{% endif %}
   
				<form class="sky-form" method="post" id="form" enctype="multipart/form-data" action="/task_list">
					<header>Add New Task</header>
			        <fieldset>
			          
			        	<section class="col-lg-4 col-md-4 col-sm-6">
			        		<div >
			          	<label class="label">Method</label>
			            
			            <label class="select" >
			              <select id="method" name="method" onchange="method_controller(this)" >
			                <option>Email</option>
							<option>SMS</option>
							<option>Voice</option>			                
			              </select>
			              <i></i>
			            </label>
			        </div>
			        </section>
          			   
			        <section class="col-lg-4 col-md-4 col-sm-6">
			          <div >
			            <label class="label">Type</label>
			            <label class="select" >
			              <select id="type" name="type"onchange="input_controller(this)">
			                <option>One-Time</option>
			                <option>Daily</option>
			                <option>Weekly</option>
			                <option>Monthly</option>
			                
			              </select>
			              <i></i>
			          </label>
			              
			            </div>
       			   </section>

			        	<section>
          			  <div class="col-lg-9 col-md-9 col-sm-9" id="subject-message-controller">
			            <label class="label">Subject</label>
			            <label class="input">
			              <input type="text" class="input-xlarge form-control" id="subject" name="subject">
			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			          </label>
			            </div>
			          </section>

			          <section>
			          <div class="col-lg-9 col-md-9 col-sm-9" style="display:none" id="sms-message-controller">
			            <label class="label">Message</label>
			            <label class="input">
			              <input type="text" class="input-xlarge form-control" id="sms_message" name="sms_message">
			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			            </label>
			          </div>
			      </section>
			      <section>
			          <div class="col-lg-9 col-md-9 col-sm-9" id="email-message-controller">
			            <label class="label">Message</label>
			            <label class="textarea">
			              <textarea class="input-xlarge form-control" id="message" name="message" style="display:inline;margin:0px"></textarea>

			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			            </label>
			          </div>
			      </section >
			      <section class="col-lg-7 col-md-7 col-sm-7" id="attachment-controller">
			          <div >
			          
			            <label class="label">Attachment</label>
			            <label for="attachment" class="input input-file">
			            <div class="button">
			            
			              <input type="file" id="attachment" name="attachment" onchange="change_attachment(this.value)">
			          		Browse
			              
			             </div>
			              <input type="text" readonly id="attachment_name">
			            
			        </label>
			            
			          </div>

			      </section>
			          
			          
          			   <section id="date-controller">
          			   <div class="col-lg-6 col-md-6 col-sm-6">
			            <label class="label">Date</label>
			            <label class="input">
			            	<i class="icon-append fa fa-calendar"></i>
			              <input type="text" id="date" name="date" class="input-xlarge form-control">
			              <!--p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p-->
			            </label>
			          </div>
			      </section>

			      <section id="day-of-week-controller" style="display:none;">
			          <div class="col-lg-6 col-md-6 col-sm-6" >
			            <label class="label">Day Of Week</label>
			            <label class="select" >
			              <select id="week-type" name="week-type" class="form-control" >
			                <option>Monday</option>
			                <option>Tuesday</option>
			                <option>Wednesday</option>
			                <option>Thursday</option>
			                <option>Friday</option>
			                <option>Saturday</option>
			                <option>Sunday</option>
			              </select>
			              <i></i>
			              
			            </label>
          			   </div>
          			</section>
          			<section id="day-of-month-controller" style="display:none;">
          			   <div class="col-lg-6 col-md-6 col-sm-6" >
			            <label class="label">Day Of Month</label>
			            <label class="select">
			              <select id="month-type" name="month-type" class="form-control" >
			                <option>1</option>
			                <option>2</option>
			                <option>3</option>
			                <option>4</option>
			                <option>5</option>
			                <option>6</option>
			                <option>7</option>
			                <option>8</option>
			                <option>9</option>
			                <option>10</option>
			                <option>11</option>
			                <option>12</option>
			                <option>13</option>
			                <option>14</option>
			                <option>15</option>
			                <option>16</option>
			                <option>17</option>
			                <option>18</option>
			                <option>19</option>
			                <option>20</option>
			                <option>21</option>
			                <option>22</option>
			                <option>23</option>
			                <option>24</option>
			                <option>25</option>
			                <option>26</option>
			                <option>27</option>
			                <option>28</option>
			                <option>29</option>
			                <option>30</option>
			                <option>31</option>
			                
			              </select>
			              <i></i>
			            </label>
          			   </div>
          			</section>


          			<section class="col-lg-5 col-md-5 col-sm-5">
			           <div >
			            <label class="label">Time</label>
			            <label class="input" >
			              <input type="time" id="time" class="form-control" name="time" value="09:00:AM">
			              
			            </label>
			          </div>
			      </section>
			          
          			   <section>
          			   <div class="col-lg-8 col-md-8 col-sm-8">
			            <label class="label">Recipient</label>
			            <label class="input" >
			              <input type="text" list="list" class="input-xlarge form-control autocomplete" id="details" name="details" placeholder="eg. abc@xyz.com" scoped>
			              <div class="note" id="recipient-helper">Enter a valid email address eg. abc@xyz.com</div>
			            </label>
			          </div>
			      </section>


			      </fieldset>
			      <footer>
			          <div class="form-actions">
			          	<button type="submit" class="btn btn-u">Submit</button>
			          </div>
			      </footer>
			  </form>
			  <div class="margin-bottom-60"></div>
			</div>
		</div>

	</div>


<script>

$("textarea").jqte({format:false});
$('.jqte').css('margin','0px');




$("input#details").autocomplete({
	source: '/options'
});

$('#form').submit(function(){


var message=$('#message').val();
var date=$('#date').val();
var recipients=$('#details').val();
var time=$('#time').val();
var type=$('#type').val();

if($('#method').val()=='SMS' || $('#method').val()=='Voice')
{
	message=$('#sms_message').val();
	$('#message').val(message);
}


if(type=='One-Time')
{
	if(message==null || message.trim()=="" || date==null || date.trim()=="" || recipients==null || recipients=="" || time==null || time.trim()=="")
	{
		alert('Message, Date and Recipients cannot be empty');
		return false;
	}
}
if(type=='Daily')
{
	if(message==null || message.trim()=="" || recipients==null || recipients=="" || time==null || time.trim()=="")
	{
		alert('Message, Time and Recipients cannot be empty');
		return false;
	}	
}
if(type=='Weekly')
{
	var day_of_week=$('#week-type').val();
	if(message==null || message.trim()=="" || recipients==null || recipients=="" || time==null || time.trim()=="" || day_of_week==null || day_of_week.trim()=="")
	{
		alert('Message, Day of Week, Time and Recipients cannot be empty');
		return false;
	}	
}
if(type=='Monthly')
{
	var day_of_month=$('#month-type').val();
	if(message==null || message.trim()=="" || recipients==null || recipients=="" || time==null || time.trim()=="" || day_of_month==null || day_of_month.trim()=="")
	{
		alert('Message, Day of Month, Time and Recipients cannot be empty');
		return false;
	}	
}

var $details=$(this).find("input[name=details]");
var recipient=$details.val();
var lastIndex=recipient.lastIndexOf('<');
if (lastIndex>=0)
{
	var truncated_recipient=recipient.substring(lastIndex+1,recipient.length-1);
	$details.val(truncated_recipient);
}

});
//$('#datepicker').datepicker({minDate:new Date()});
$('#date').datepicker({
	            
	            prevText: '<i class="fa fa-angle-left"></i>',
	            nextText: '<i class="fa fa-angle-right"></i>',
	            minDate:new Date()
	        });

function change_attachment(value)
{
	$('#attachment_name').val(value.substring(12));
}
function method_controller(obj)
{
	var method=obj.value;
	if(method=='Email')
	{
		$('#email-message-controller').css('display','');
		$('#sms-message-controller').css('display','none');
		$('#subject-message-controller').css('display','');
		$('#attachment-controller').css('display','');
		$('#recipient-helper').html('Enter a valid email address eg. abc@xyz.com');
		//$('#details').attr('type','email');
		$('#details').attr('placeholder','eg. abc@xyz.com');
		//$('#country-code-controller').css('display','none');
	}
	if(method=='SMS' || method=='Voice')
	{
		$('#sms-message-controller').css('display','');
		$('#email-message-controller').css('display','none');
		$('#subject-message-controller').css('display','none');
		$('#attachment-controller').css('display','none');
		$('#recipient-helper').html('Enter a valid phone number eg. 9830906922 or +919830906922 without "-"');
		$('#details').attr('type','text');
		$('#details').attr('placeholder','eg. 9830906922');
		//$('#country-code-controller').css('display','');
	}
}

function input_controller(obj)
{
	
	var type=obj.value;
	if(type=='Daily'){
		$('#date-controller').css('display','none');
		$('#day-of-week-controller').css('display','none');
		$('#day-of-month-controller').css('display','none');
	}
	if(type=='One-Time')
	{
		$('#date-controller').css('display','');
		$('#day-of-week-controller').css('display','none');
		$('#day-of-month-controller').css('display','none');
	}
	if(type=='Weekly')
	{
		$('#day-of-week-controller').css('display','');
		$('#date-controller').css('display','none');
		$('#day-of-month-controller').css('display','none');
	}
	if(type=="Monthly")
	{
		$('#day-of-month-controller').css('display','');
		$('#day-of-week-controller').css('display','none');
		$('#date-controller').css('display','none');
	}

}

</script>
{% endblock %}
