{% extends "base.html" %}

{% block content %}
        <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <td><b>Field</b></td>
                  <td><b>Details</b></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Type
                  </td>
                  <td>
                    {{task['type'].title()}}
                  </td>
                </tr>
                <tr>
                  <td>Timing
                  </td>
                  <td>
                    {{task['timing']}}
                  </td>
                </tr>
                
                <tr>
                   {% if 'subject' in task %}
                  <td>Subject
                  </td>
                  <td>
                   
              {{task['subject']|safe}}
              
              
              
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <td>Message
                  </td>
                  <td>
              
              {{task['message']|safe}}
            
                  </td>
                </tr>
                <tr>
                  <td>Method
                  </td>
                  <td>
                    {{task['method']}}
                  </td>
                </tr>
                <tr>
                  <td>Recipient
                  </td>
                  <td>
                    {{task['details']}}
                  </td>
                </tr>
                 <tr>
                  <td>Status
                  </td>
                  <td>
                    {{task['state']}}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-7 col-md-7">
                Tasks cannot be edited at this time. However, you can delete a task and create a new task with the correct information.
                <br>
              <b><a href="/delete_task?id={{task['_id']}}">Delete this task</a></b>
            </div>
            </div>
          </div>
      
      </div>
      {% if sub_tasks|length > 0 %}
      <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3>Status Details</h3>
      </div>
    </div>
        <div class="row">
      <div class="col-lg-6 col-md-6">
        <table id="status-table" class="table table-bordered table-striped table-hover tablesorter">
          <thead>
            <tr>
              <td>
                Task Time
              </td>
              
              <td>
                Method
              </td>

              <td>
                Status
              </td>
              
            </tr>
          </thead>
          <tbody>
          {% for sub_task in sub_tasks %}
          <tr style="font-size:14px;">
            <td>
              {{sub_task['time']}}
            </td>
            <td>
              {{sub_task['method']}}
            <td>
              {{sub_task['status']}}
            </td>
            
           
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
      </div>
      
<script>
$('#form').submit(function(){
      var username=$('#username').val();
      var email=$('#email').val()
      var password=$('#password').val();
      var confirm_password=$('#confirm_password').val();
      if(email==null || email.trim()=="" || password==null || password.trim()=="" || username==null || username.trim()=="")
      {
        alert("Email, password and name cannot be empty");
        return false;

      }
      if(password!=confirm_password)
      {
        alert("Passwords do not match");
        return false;
      }
      if(password.length<5)
      {
        alert("Password should be atleast 5 characters");
        return false;
      }


    });
$('#login').submit(function(){
      var name=$('#name').val();
  var password=$('#login_password').val();
  if(name==null || name.trim()=="" || password==null || password.trim()=="")
  {
    alert("Email/Username/Password cannot be empty");
    return false;
  }
    });
  });


</script>
      {% endblock %}